{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}



<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'swiper-slider.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}">
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
          {%- if section.settings.collection != blank -%}
            <h2 class="collection__title--heading inline-richtext">
              {{ section.settings.collection .title }}
            </h2>
          {%- endif -%}
    </div>
    <div class="collection__list">
      <swiper-component class="carousel__container swiper">
        <div class="swiper-wrapper">
          {%- for product in section.settings.collection.products -%}
              <div
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  class="carousel__slide swiper-slide"
                  {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                  {% endif %}
              >
                  {% render 'card-product-customized',
                      card_product: product,
                      media_aspect_ratio: "square",
                      section_id: section.id
                  %}
              </div>
          {%- endfor -%}
        </div>
     </swiper-component>
     <div class="swiper-button-next swiper-navigation__button">{{ 'slider-arrow-right.svg'  |  asset_url |  img_tag  }}</div>
     <div class="swiper-button-prev swiper-navigation__button">{{ 'slider-arrow-left.svg'  |  asset_url |   img_tag  }}</div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.products-list.name",
  "tag": "section",
  "class": "section section-list-products",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.products-list.presets.name"
    }
  ]
}
{% endschema %}
