{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script> {% comment %} Include the Swiper JS with defer attribute {% endcomment %}
<script src="{{ 'swiper-slider.js' | asset_url }}" defer="defer"></script> {% comment %} Include the Swiper slider JS with defer attribute {% endcomment %}

{%- style -%} {% comment %} Start of inline CSS {% endcomment %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px; {% comment %} Set the top padding for the section {% endcomment %}
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px; {% comment %} Set the bottom padding for the section {% endcomment %}
  }

  @media screen and (min-width: 750px) { {% comment %} Media query for screens larger than 750px {% endcomment %}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px; {% comment %} Set the top padding for the section {% endcomment %}
      padding-bottom: {{ section.settings.padding_bottom }}px; {% comment %} Set the bottom padding for the section {% endcomment %}
    }
  }
{%- endstyle -%} {% comment %} End of inline CSS {% endcomment %}

{% comment %} Start of the collection section {% endcomment %}
<div class="collection section-{{ section.id }}-padding"> 
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
          {%- if section.settings.collection != blank -%}
            <h2 class="collection__title--heading inline-richtext">
              {{ section.settings.collection .title }} {% comment %} Display the collection title {% endcomment %}
            </h2>
          {%- endif -%}
    </div>
    <div class="collection__list">
      <swiper-component class="carousel__container swiper"> {% comment %} Start of the Swiper component {% endcomment %}
        <div class="swiper-wrapper">
          {%- for product in section.settings.collection.products -%} {% comment %} Loop through each product in the collection {% endcomment %}
              <div
                  class="carousel__slide swiper-slide"
                  {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};" 
                  {% endif %}
              >
                  {% render 'card-product-customized',
                      card_product: product,
                      media_aspect_ratio: "square",
                      section_id: section.id
                  %}
              </div>
          {%- endfor -%}
        </div>
     </swiper-component> {% comment %} End of the Swiper component {% endcomment %}
     <div class="swiper-button-next swiper-navigation__button">{{ 'slider-arrow-right.svg'  |  asset_url |  img_tag  }}</div> {% comment %} Swiper next button {% endcomment %}
     <div class="swiper-button-prev swiper-navigation__button">{{ 'slider-arrow-left.svg'  |  asset_url |   img_tag  }}</div> {% comment %} Swiper previous button {% endcomment %}
    </div>
</div> 
{% comment %} End of the collection section {% endcomment %}

{% comment %} Start of the schema {% endcomment %}
{% schema %}
{
  "name": "t:sections.products-list.name",
  "tag": "section",
  "class": "section section-list-products",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.products-list.presets.name"
    }
  ]
}
{% endschema %} {% comment %} End of the schema {% endcomment %}